*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background: #000942;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;

    background-image: url(photo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 92% 100%;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #bababa;
}
.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.side-nav{
    position: fixed;
    /* background: #e91e63; */
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background: linear-gradient(#dc0093, #b027ce, #3f51b5, #00bcd4, #0055ff, #dc0093);
    background-size: 100% 500%;
    background-position: 0 40%;
}
.side-nav:hover{
    animation: backcolor 20s linear infinite reverse;
}
@keyframes backcolor {
    0%{
        background-position: 0 0%; 
    }
    100%{
        background-position: 0 400%; 
    }
}
.side-nav .logo{
    width: 60px;
    cursor: pointer;
}
.side-nav a{
    text-decoration: none;
    color: #fff;
    transform: rotate(-90deg) translateX(50%);
    width: max-content;
}
.text-box{
    margin-top: 20%;
    font-size: 18px;
    color: #fff;
}
.text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 550px;
    line-height: 95px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.text-box .icon{
    background: #3d2ec6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box .icon img{
    width: 15px;
}
.top-nav button
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.top-nav button
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
/*button css*/
.btn{
    font-family: "Roboto", sans-serif;
    font size: 16px;
    font-weight: bold;
    background: #3d2ec6;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
